%section.entry#home
  %article
    %p= "Welcome to Pragtechnologies!"
    %p= "This is my personal website about my technology adventures. Pragtechnologies basically stands for Pragmmatic Techonologies. "
    %p= "Pragmmatic means:"
    %ul
      %li= "Technology directly solves the problem"
      %li= "Technology is easy to implement"
      %li= "Technology is the cheapest compared to others"
      %li= "Technology is built through best practices"
      %li= "Technology is secured"
      %li= "Technology has great quality"
      %li= "Technology for the future"
    %p= "Technology applies to all industry. It is a driving factor for every companies to be competitive. Without it, the company is doomed to compete with today's battleground." 
    %p= "Technology to be focus on this site will be more on IT Technologies since that is were I practice my profession. It is also a common need in every industry. Having control on information can greatly improve performance of any company."
    %p= "I created this site through the inspiration of my family, Technology Management degree, and www.pragprog.com."
    %p= "This site is built using Ruby on Rails, HAML, SASS, and HTML5."
%section.entry#about
  %header
    %h2= "NOEL DEL CASTILLO - MTM (Masters in Technology Management)"
  %article#about
    #1.content
      %p= "I'm a software engineer, technologist, and a family man. I'm a husband to my beautiful wife, a father of two sons, and I put my family first more than anything else."
      %p= "I love my profession. I'm passionated with computers since I was a child."
    #1.image
      = image_tag "rails.png"
